{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}
{% block title %}Articles{% endblock %}

{% block content %}
<style>
    
    </style>
    <div class="container mt-4 col-md-5">
        <h1>Article Page</h1>
        <p>Welcome to our article page! Here, you can explore a range of topics and learn more about our company and products. To navigate through the different sections of the page, use the tabs below:</p>
            <div  aria-selected="true"><i class="fas fa-info-circle"></i> Overview</div></div>
<div class="container mt-5" >
    
      <div class="col-md-4 mx-auto">
        <div class="neomorphic p-4 text-center">
          <img src="https://cdn.shopify.com/s/files/1/1861/4635/files/WS2305Crop_480x480.png?v=1671842979" alt="Walking stick" class="img-fluid mb-4">
          <h1 class="mb-4">Walking Stick</h1>
          <p>Our walking stick is made of high-quality materials and is designed to provide you with maximum support and stability while walking. It is perfect for those who need extra assistance when walking or have mobility issues. It comes with a host of benefits, click to learn more.</p>
          <a href="/Place" class="btn btn-primary btn-lg mt-4">Click to find out</a>
        </div>
      </div>
    </div>
  <div class="container mt-5">
    
      <div class="col-md-4 mx-auto">
        <div class="neomorphic p-4 text-center">
          <img src="https://cdn.shopify.com/s/files/1/1861/4635/files/WS2305Crop_480x480.png?v=1671842979" alt="Walking stick" class="img-fluid mb-4">
          <h1 class="mb-4">Sustainability</h1>
          <p>At our company, we are committed to sustainability and minimizing our impact on the environment. Here are some of the ways in which we are working towards this goal.</p>
          <a href="/Place" class="btn btn-primary btn-lg mt-4">Click to find out</a>
        </div>
      </div>
  </div><div class="container mt-5">
    
      <div class="col-md-4 mx-auto">
        <div class="neomorphic p-4 text-center">
          <img src="https://cdn.shopify.com/s/files/1/1861/4635/files/WS2305Crop_480x480.png?v=1671842979" alt="Walking stick" class="img-fluid mb-4">
          <h1 class="mb-4">About the director</h1>
          <p>In his pursuit of a purpose-driven life, Tuan set up Agegracefully in 2017 to develop and market innovative eldercare lifestyle products that enable the elderly to live safely and age gracefully.</p>
          <a href="https://agegracefully.shop/pages/about-us" class="btn btn-primary btn-lg mt-4">Click to find out</a>
        </div>
      </div>
{% endblock %}
