{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}
{% block title %}Deals{% endblock %}

{% block content %}
<style>
    
    </style>
    <div class="container mt-4 col-md-5">
        <h1>Great Deals!</h1>
        <p>Welcome to our deals page! Here, you can explore a range of upcoming deals</p>
            <div  aria-selected="true"><i class="fas fa-info-circle"></i> Overview</div></div>
<div class="container mt-5" >
    
      <div class="col-md-4 mx-auto">
        <div class="neomorphic p-4 text-center">
          <img src="https://cdn.shopify.com/s/files/1/1861/4635/files/WS2305Crop_480x480.png?v=1671842979" alt="Walking stick" class="img-fluid mb-4">
          <h1 class="mb-4">Fathers Day!</h1>
          <p>On Father"s they, get your loved one a gift for him to walk again!</p>
          <p>June 18 2023, discount code FatherMyLove to get 20% off. </p>
        </div>
      </div>
    </div>

{% endblock %}