{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}

{% block title %}404 Error Page Not Found{% endblock %}

{% block content %}
<img src="https://uploads-ssl.webflow.com/5fb39592cb1bfc03c9f9b6d2/6324651df2ebb755dd57f757_COBE_Midjourney-Article-pink-elephant.jpg" alt="Error!" width="100%" height="100%" style="overflow: hidden; z-index:-1;">
<!-- Begin Page Content -->
                <div class="container-fluid">
                    

                    <!-- 404 Error Text -->
                    <div class="text-center"style="position: absolute;
                    top: 200px;
                    left: 50%;
                    background-color: white;
                    box-shadow: -2px 5px 5px rgba(0,0,0,0.9);
                    padding: 15px;
                    width: 50%;
                    border-radius:50px;
                    font-size: 1rem;
                    ">
                        
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix... please record and try to tell us how it happened, your help is appreciated. Send us a feed back <a href="http:///">here.</a></p>
                        <a href="{{ url_for('home_page') }}">&larr; Back to Home Page</a>
                    </div>

                </div>
                
                <!-- /.container-fluid -->


<br><br><br><br><br><br><br><br><br><br><br>            <!-- End of Main Content -->
{% endblock %}

