<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ photo.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <a href="{{ url_for('photos') }}" class="btn btn-secondary">Back to Photos</a>
      <hr>
      <h1>{{ photo.name }}</h1>
      <p>{{ photo.description }}</p>
      <img src="{{ photo.file_path }}" class="img-fluid mt-3">
    </div>
  </body>
</html>
