<!DOCTYPE html>
<html>
  <head>
    <script>
      function loadStatus() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get_status", true);
        xhr.onreadystatechange = function() {
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            var status = JSON.parse(this.responseText);
            document.getElementById("btn1").disabled = !status.btn1;
            document.getElementById("btn2").disabled = !status.btn2;
            document.getElementById("btn3").disabled = !status.btn3;
            document.getElementById("result").innerHTML = status.result;
          }
        };
        xhr.send();
      }

      function updateStatus(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/update_status", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function() {
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            loadStatus();
          }
        };
        xhr.send(JSON.stringify({ id: id }));
      }

      function resetStatus() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/reset_status", true);
        xhr.onreadystatechange = function() {
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            loadStatus();
          }
        };
        xhr.send();
      }
    </script>
  </head>
  <body onload="loadStatus()">
    <button id="btn1" onclick="updateStatus('btn1')">Button 1</button>
    <button id="btn2" disabled onclick="updateStatus('btn2')">Button 2</button>
    <button id="btn3" disabled onclick="updateStatus('btn3')">Button 3</button>
    <p id="result"></p>
    <button id="reset" onclick="resetStatus()">Reset</button>
  </body>
</html>
