{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}
{% block title %}Register Page{% endblock %}
{% block content %}
 <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="POST">
                                {{ form.hidden_tag() }}
                                <!--This flask built in tag protects our site
                                from Cross Site Request Forgery (CSRF) Attack -->
                                <!--this attack basically may attack or steal
                                your database -->
                                <div class="form-group row">
                                    <!--userName-->
                                    {{ form.username.label() }}
                                    {{ form.username(class='form-control form-control-user', placeholder='Username') }}
                                    <!-- Flask Forms Feature -->
                                </div>
                                <div class="form-group row">
                                    <!--Email-->
                                        {{ form.email_address.label() }}
                                        {{ form.email_address(class='form-control form-control-user', placeholder='Email Address') }}
                                </div>
                                <div class="form-group row">
                                    <!--Password1-->
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form.password1.label() }}
                                        {{ form.password1(class='form-control form-control-user', placeholder='Password', id="myInput") }}
                                        <input type="checkbox" onclick="myFunction()">Show Password
                                        
                                <script>
                                    function myFunction() {
                                        var x = document.getElementById("myInput");
                                        if (x.type === "password") {
                                        x.type = "text";
                                        } else {
                                        x.type = "password";
                                        }
                                    }
                                </script>
                                    </div>
                                    <div class="col-sm-6">
                                        <!--Password2-->
                                        {{ form.password2.label() }}
                                        {{ form.password2(class='form-control form-control-user', placeholder='Repeat Password') }}
                               
                                    </div>
                                </div>
                                {{ form.submit(class='btn btn-primary btn-user btn-block') }}
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{{ url_for('forgot_password_page') }}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{{ url_for('landing_page') }}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}