{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}
{% block title %}Retailer Location{% endblock %}

{% block content %}



<div class="container mt-4 col-md-5">
  <h1>All locations of retailers</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for location in location_list %}
        <tr>
          <th>{{ location.get_location_id() }}</th>
          <th>{{ location.get_location() }}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--
    <div class="container mt-4 col-md-5">
        <h1>Visit us!</h1>
        <p> Comne an visit us! Everyone of the locations is an experience center for you to get to try out before buying</p>
            <div  aria-selected="true"><i class="fas fa-info-circle"></i> Overview</div></div>
<div class="container mt-5" >
    
      <div class="col-md-8 mx-auto">
        <div class="neomorphic p-4 text-center">
          <a target="blank" href="https://www.google.com/maps/place/Khoo+Teck+Puat+Hospital/@1.4228957,103.8376377,17z/data=!4m14!1m8!3m7!1s0x31da146c6e9a63af:0x6961b610a7be48b9!2sKhoo+Teck+Puat+Hospital!8m2!3d1.4246142!4d103.838217!14m1!1BCgIgARICCAI!3m4!1s0x31da146c6e9a63af:0x6961b610a7be48b9!8m2!3d1.4246142!4d103.838217"><img src="https://cdn.shopify.com/s/files/1/1861/4635/files/31_480x480.png?v=1605614694" alt="Walking stick" class="img-fluid mb-4"></a>
          <iframe src="https://www.google.com/maps/embed?pb=!4v1672580484366!6m8!1m7!1sGRWRyXrHnRoFx9lB0t60fw!2m2!1d1.423305468155933!2d103.8383074523828!3f306.73885546737!4f5.754857429723884!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h1 class="mb-4">KTPH</h1>
          <p>Khoo Teck Puat Hospital The ABLE Studio<br>
            ,90 Yishun Central, S768828<br>
            Tower B Level 1<br>
            <br><br>
            Mon - Fri: 9.00am - 7.00pm<br>
            Sat:  9.00am - 3.00pm<br>
            Sun: 10.30am to 3pm<br>
            Close on Public Holidays<br>
            Tel: 66022253<br>
            Nearest MRT Station:  Yishun<br>
            Model Available: Limited Collection <br>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="col-md-8 mx-auto">
        <div class="neomorphic p-4 text-center">
          <a target="blank" href="https://goo.gl/maps/YwDEW1p8Y9Ht93TT8"><img src="https://cdn.shopify.com/s/files/1/1861/4635/files/014_480x480.png?v=1605518482" alt="Walking stick" class="img-fluid mb-4"></a>
          <iframe src="https://www.google.com/maps/embed?pb=!4v1672580880884!6m8!1m7!1sIIUdaLLRVzsbv96PingC8Q!2m2!1d22.36484805374337!2d114.1154987076442!3f111.85982831953004!4f11.240707496511902!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h1 class="mb-4">Hoho live</h1>
          <p>HOHOLIFE<br>
HongKong<br>
            香港荃灣德士古道220-248號荃灣工業中心612室<br>
            
            Unit 612, TWIC, 220-248 Texaco Road, Tsuen Wan, Hong Kong<br>
             Mon-Sat: 12nn-6pm<br>
             +852 37099320</p>
        </div>
      </div>
    </div>
    <hr>

    <<h1 class="mx-auto col-md-2">Collaborators</h1>
    <div class="containerss mx-auto">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <div class="icon">
                      <i class="i fa fa-linkedin-square" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <h3>
                      <a href="https://agegracefully.shop/pages/press-media" target="_blank">Hospitals</a>
                  </h3>
                  <p>This is where we adovocate and research healthy living.</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <div class="icon">
                      <i class="i fa fa-twitter-square" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <h3>
                      <a href="https://agegracefully.shop/pages/testimonials" target="_blank">Charity</a>
                  </h3>
                  <p>This is where we create value</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <div class="icon">
                      <i class=" i fa fa-github-square" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <h3>
                      <a href="https://agegracefully.shop/pages/collaboration-credentials" target="_blank">SME</a>
                  </h3>
                  <p>We work with other SME to create a sustainable and easier path to ageing.</p>
              </div>
          </div>
      </div>
  </div>

-->
<style>

.containerss {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius:20px
}

.containerss .card {
  position: relative;
  border-radius:20px
}

.containerss .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
  border-radius:20px
}

.containerss .card:nth-child(1) .icon {
  background: #e07768;
}

.containerss .card:nth-child(2) .icon {
  background: #6eadd4;
}

.containerss.card:nth-child(3) .icon {
  background: #4aada9;
}


.containerss .card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.containerss .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.containerss .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.containerss .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.containerss .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.containerss .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.containerss .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.containerss .card:hover .face.face2{
  transform: translateY(0);
}

.containerss .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.containerss .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

</style>
{% endblock %}
