{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}

{% block title %}Library Loan System - Retrieve Retailers{% endblock %}

<!-- Supplier Table -->
{% block content %}
<div class="container-fluid" style="overflow-x: scroll;">
<h1 class="display-4">Retailers</h1>

{% if count == 0 %}
  <br>
  <br>
  <p>There are no retailers in the database.</p>
{% else %}
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Company ID</th>
          <th>Shop</th>
          <th>Postal code</th>
          <th>Unit number</th>
          <th>Email address</th>
          <th>Address </th>
          <th>Office number</th>
          <th>Year Registered</th>
          <th>
            <a href="{{ url_for('retail_management') }}" class="btn btn-primary float-right">
              &nbsp;Go to Retailer list<span class="material-symbols-outlined">
                arrow_forward
                </span></a>
          </th>
        </tr>
      </thead>
      <tbody>
          {% for retailer in retailers_list %}
          <tr>
            <td>{{ retailer.get_retailer_id() }}</td>
            <td>{{ retailer.get_company_id() }}</td>
            <td>{{ retailer.get_location() }}</td>
            <td>{{ retailer.get_postal_code() }}</td>
            <td>{{ retailer.get_unit_number() }}</td>
            <td>{{ retailer.get_email_address() }}</td>
            <td>{{ retailer.get_address() }}</td>
            <td>{{ retailer.get_office_no() }}</td>
            <td>{{ retailer.get_date_registered() }}</td>
          <td>
                {% if retailer.get_retailer_id() in retailersid_list %}
                <form action="{{ url_for('register_retail_account', id=retailer.get_retailer_id() ) }}" method="POST">
                    <input type="submit" value="Added retailer account" class="btn btn-primary button-1" disabled>
                </form>
                {% else %}
                <form action="{{ url_for('register_retail_account', id=retailer.get_retailer_id() ) }}" method="POST">
                  <input type="submit" value="Create retailer account" class="btn btn-primary button-2">
                </form>
                {% endif %}
          </td>
            <td>
              {% if retailer.get_retailer_id() in retailersid_list %}
                
                  <form action="{{url_for('retail_management_update', id=retailer.get_retailer_id(), user=user)}}" method="GET">
                  <input type="submit" value="Update retailer account" class="btn btn-warning">
                  </form>
                
              {% else %}
                <form action="{{url_for('update_retailer', id=retailer.get_retailer_id())}}" method="POST">
                <input type="submit" value="Update retailer details" class="btn btn-warning">
                </form>
              {% endif %}
            </td>
           
            <td>              
                  {% if retailer.get_retailer_id() in retailersid_list %}
                  <form action="{{url_for('retailer_delete', id=retailer.get_retailer_id() )}}" method="POST">
                    <input type="submit" value="Reject retailer" class="btn btn-danger button-1" disabled>
                  </form>
                  
            
                  {% else %}
          
                
                  <form action="{{url_for('retailer_delete', id=retailer.get_retailer_id() )}}" method="POST">
                    <input type="submit" value="Reject retailer" class="btn btn-danger button-2">
                  </form>
                  {% endif %}
            </td>
            
          </tr>
        

          
    </tbody>
    {% endfor %}
  </table>
</div>
{% endif %}
</div>
{% endblock %}