{% if current_user.admin == 1 %}
{% extends "base.html" %}
{% else %}
{% extends "based.html" %}
{% endif %}
{% block title %}Staff Management{% endblock %}
    <!-- Custom styles for this page -->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h1 mb-2 text-gray-800">Staff account Management</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-right">Registered Staff Accounts Database</h6>
        </div>
        <div class="card-body neomorphic custom-cursor">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Staff ID</th>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Company Email Address</th>
                            <th>Account Status</th>
                            <th>Update</th>
                            <th>Disabled</th>
                        </tr>
                    </thead>


                    
                    {% for user in users %}
                    {% if user.id != current_user.id%}
                        {% if user.usertype == "staff" %}
                            {% if user.status == 'Enabled' %}
                                <tbody>
                                <tr>
                                    <td>{{user.staff_id}}</td>
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.email_address}}</td>
                                    <td>{{user.status}}</td>
                                    <td>
                                        <form action="{{url_for('staff_management_update', id=user.id)}}" method="GET">
                                            <input type="submit" value="Update User" class="btn btn-outline btn-info">
                                        </form>
                                    </td>
                                    <td>
        <!--                            <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo&#45;&#45;{{user.id}}">Update User</button>-->
                                    <!--data-target go check the id tag in 'items_modals.html'
                                    near the more Info comment section it targets that to give
                                    each specific item its specific name in title and description -->
                                    
                                        <form action="{{url_for('staff_management_disable', id=user.id)}}" method="POST">
                                            <input type="submit" value="Disable Account" class="btn btn-outline btn-danger">
                                        </form>
                                    </td>
                                </tbody>
                                {% elif user.status == 'Disabled' %}
                                <tbody class="table-dark">
                                    <td>{{user.staff_id}}</td>
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.email_address}}</td>
                                    <td>{{user.status}}</td>
                                    <td>
                                        <form action="{{url_for('staff_management_update', id=user.id)}}" method="GET">
                                            <input type="submit" value="Update User" class="btn btn-outline btn-info">
                                        </form>
                                    </td>
                                    <td>
                                    <form action="{{url_for('staff_management_enable', id=user.id)}}" method="POST">
                                        <input type="submit" value="Enable Account" class="btn btn-outline btn-success">
                                    </form>
                                    </td>
                                </tbody>
                            {% endif %}
                            </td>
                            
                                
                            </tr>
                            
                        {% endif %}
                    {% endif %}
                    
                    {% endfor %}
                    <!--Delete Account Modal-->

</div>
                   

                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>


{% endblock %}