@font-face {
  font-family: "Suisseintl-Bold";
  src: url(Suisseintl-Bold-Thin.ttf);
  font-weight: 200; }
@font-face {
  font-family: "Suisseintl-Bold";
  src: url(Suisseintl-Bold-Light.ttf);
  font-weight: 300; }
@font-face {
  font-family: "Suisseintl-Bold";
  src: url(Suisseintl-Bold-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: "Suisseintl-Bold";
  src: url(Suisseintl-Bold-Medium.ttf);
  font-weight: 500; }
@font-face {
  font-family: "Suisseintl-Bold";
  src: url(Suisseintl-Bold-Bold.ttf);
  font-weight: 700; }
/*
font-family: "Suisseintl-Bold", sans-serif;
*/